<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   <!--An include function to include a partial to the ejs files -->
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Bloger</h2>

        <% if(blogs.length > 0) {%>
           <% blogs.forEach(blog => { %>

            <h3 class="title"> <%= blog.title %></h3>
            <p class="snippet"> <%= blog.snippet %></p>

            <% }) %>
            <% } else {%>
                <p>There are no blogs to display...</p>
            <% } %>
    </div>

    <!-- import the footer partial -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>